@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-bg-color: #FFFFFF;
  --secondary-bg-color: #F5F4FA;
  --social-link-color: #AFB1B8;
  --color-button: #F5F4FA;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-activity {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .container-activity {
    display: none;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-activity {
  padding-top: 0;
  padding-bottom: 94px;
}

.section-activity__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.section-team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.page {
  background-color: #FFFFFF;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .footer-container {
    width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .footer-container {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    width: 1200px;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: inline-block;
  border-radius: 6px;
  border: transparent;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188CE8;
  color: var(--primary-bg-color);
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  display: inline-block;
}

.logo__item {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
}

.social-icons {
  display: inline-flex;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}

.social-icons .icon {
  width: 20px;
  height: 20px;
  display: inline-flex;
}

.social-icons .icon:hover, .social-icons .icon:focus {
  fill: #FFFFFF;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  background-color: var(--primary-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover, .social-icons__link:focus {
  fill: #FFFFFF;
  background-color: var(--accent-color);
}

.logo-second__item {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  margin-left: 6px;
}

.header {
  border: 1px solid #ECECEC;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-menu {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

@media screen and (max-width: 480px) {
  .site-nav {
    display: block;
    margin-left: 40px;
    margin-bottom: 200px;
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
    align-items: center;
    justify-content: center;
  }
}

.site-nav__link {
  position: relative;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .site-nav__link::after {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: -5px;
  right: 30px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  background-color: var(--primary-bg-color);
  padding: 40px 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: var(--title-text-color);
}

.menu-container.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 650px;
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .auth-nav {
    display: block;
    margin-left: 40px;
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    padding: 16px 0;
    margin-left: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: 80px;
    align-items: center;
    justify-content: flex-end;
  }
}

.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}

.login__button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.login__button:hover, .login__button:focus {
  color: var(--accent-color);
}

.contacts__link {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  stroke: var(--accent-color);
}

.contacts__icon {
  width: 18px;
  height: 14px;
  margin-right: 10px;
  stroke: var(--primary-text-color);
}

@media screen and (max-width: 480px) {
  .contacts__icon {
    display: none;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2F303A;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url(../images/hero.jpg);
  background-size: cover;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__title {
  max-width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px * 1) / 1);
    text-align: center;
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px * 2) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list__item {
    flex-basis: calc((100% - 30px * 4) / 4);
    margin-right: 30px;
  }
}

.feature-list__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--color-button);
}

.feature-list__subtitle {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.activity-list {
  display: flex;
  justify-content: center;
}

.activity-list__item {
  margin-right: 30px;
}

.activity-list__item:hover::before {
  position: absolute;
  content: "Десктопные приложения";
  font-weight: bold;
  bottom: 0;
  left: 10;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.activity-mobil__item {
  margin-right: 30px;
}

.activity-mobil__item:hover::before {
  position: absolute;
  content: "Мобильные приложения";
  font-weight: bold;
  bottom: 0;
  left: 10;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.activity-designer__item:hover::before {
  position: absolute;
  content: "Дизайнерские решения";
  font-weight: bold;
  bottom: 0;
  left: 10;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
}

.section-team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.section-team__card {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  text-align: center;
}

.section-team__item {
  text-align: center;
  background-color: white;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-team__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 480px) {
  .section-team__item {
    flex-basis: calc((100% - 30px * 1) /1);
  }
}

@media screen and (min-width: 768px) {
  .section-team__item {
    flex-basis: calc((100% - 30px * 2) /2);
  }
}

@media screen and (min-width: 1200px) {
  .section-team__item {
    flex-basis: calc((100% - 30px * 4) /4);
  }
}

.section-team__card > .section-team__item {
  margin-right: 30px;
  margin-bottom: 94px;
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-content__subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.card-content__text {
  margin-top: 10px;
  margin-bottom: 16px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.clients-icon {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.clients-icon__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-bottom: 30px;
  fill: var(--social-link-color);
}

@media screen and (min-width: 480px) {
  .clients-icon__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-icon__item {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-icon__item {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients-icon__item:hover .icon,
.clients-icon__item:focus .icon {
  fill: var(--accent-color);
}

.clients-icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  border-radius: 6%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon__link:hover, .clients-icon__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer__item {
  margin-right: 70px;
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .footer__item {
    margin-right: 0;
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer__contact {
  display: inline-block;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer__button {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
}

.footer__mail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-subtitle {
  color: #FFFFFF;
  font-size: 14px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .footer-subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .footer-subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .footer-part {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-part__link {
  border-radius: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;
  background-color: linear-gradient(#FFFFFF 10%);
}

.footer__fon {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-part__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 44px;
  height: 44px;
  fill: #FFFFFF;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-part__link:hover, .footer-part__link:focus {
  fill: #FFFFFF;
  background-color: var(--accent-color);
}

.footer-form {
  display: block;
  margin-left: 93px;
}

@media screen and (max-width: 480px) {
  .footer-form {
    margin-left: 0;
    text-align: end;
  }
}

@media screen and (max-width: 768px) {
  .footer-form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form {
  display: flex;
}

@media screen and (max-width: 480px) {
  .form {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .form {
    display: block;
    text-align: center;
  }
}

.form__field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.form__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 480px) {
  .form__field {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .form__field {
    margin-bottom: 20px;
  }
}

.form__button {
  position: relative;
  width: 200px;
  /* text-align: center; */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
}

.flex-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.flex-btn .flex-btn__item:not(:last-child) {
  margin-right: 8px;
}

.flex-btn__set {
  display: inline-block;
  border: transparent;
  border-radius: 6px;
  min-width: 29px;
  padding: 6px 22px;
  background-color: var(--color-button);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-btn__set:hover, .flex-btn__set:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.card-set__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover, .card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__item:hover .product,
.card-set__item:focus .product {
  transform: translateY(0);
}

@media screen and (min-width: 480px) {
  .card-set__item {
    flex-basis: calc((100% - 30px * 1) /1);
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 30px * 2) /2);
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 30px * 3) /3);
    width: 370px;
  }
  .card-set__item:nth-child(3n) {
    margin-right: 0;
  }
  .card-set__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.card-set__thumb {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.product {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__label {
  position: absolute;
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1,56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.product__item {
  padding: 20px 24px;
}

.product__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 40px 40px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  padding: 40px;
  background-color: #fff;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    top: 11%;
    left: 1%;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
  }
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: url(../images/close-black.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:focus {
  background-image: url(../images/close-blue.svg);
}

.close-icon {
  position: absolute;
  top: 17%;
  left: 17%;
}

.form-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 1,15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  display: block;
}

.modal-field {
  position: relative;
  display: block;
}

.modal-form__label {
  font-size: 12px;
  line-height: 1,166;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form__input {
  height: 40px;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
}

.modal-form__input:focus {
  border: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .modal-form__input {
    width: 370px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__input {
    width: 370px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__input {
    width: 448px;
    margin: 0;
  }
}

.modal-form__text {
  width: 448px;
  margin-bottom: 10px;
  padding: 12px 16px;
  font: inherit;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal-form__text {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__text {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__text {
    width: 448px;
  }
}

.form-label-checkbox {
  display: block;
  -webkit-appearance: none;
}

.modal-form__label--color {
  color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__icon--color {
  border-color: var(--accent-color);
  fill: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  transform: translateY(-80%);
  width: 18px;
  height: 18px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal-form__icon {
    top: 70%;
  }
}

@media screen and (min-width: 768px) {
  .modal-form__icon {
    top: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__icon {
    top: 80%;
  }
}

.modal-form__label textarea {
  resize: none;
  color: var(--primary-text-color);
}

.check {
  padding-left: 20px;
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__box {
  position: absolute;
  margin-left: -20px;
  width: 16px;
  height: 15px;
  background-image: url(../images/vector.svg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .check__box {
    top: 497px;
  }
}

@media screen and (min-width: 768px) {
  .check__box {
    top: 497px;
  }
}

@media screen and (min-width: 1200px) {
  .check__box {
    top: 433px;
  }
}

.check-input:checked + .check-box {
  background-image: url(../images/icon-check.svg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form {
  position: relative;
  left: 25%;
  margin-top: 30px;
}
/*# sourceMappingURL=styles.css.map */