.logo{
    font-family: Raleway;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    text-decoration: none;

    display: inline-block;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        padding: 32px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 26px;
        padding: 24px;
        margin-right: 93px;
    }
}

.logo__item{
    padding-top: 24px;
    padding-bottom: 25px;
    
    color: var(--accent-color); 
}