.auth-nav{
    display: flex;
    margin-left: auto;  


    @media screen and (max-width: 480px) {
        display: block; 
        margin-left: 40px;
        font-size: 40px;
    }

    @media screen and (min-width: 768px) {
        display: block; 
        padding: 16px 0;
        margin-left: 48px; 
    }

    @media screen and (min-width: 1200px) {
        display: flex; 
        margin-left: 80px;
        align-items: center;
        justify-content: flex-end;
    }

    &__item:not(:last-child){
        margin-right: 50px;
    }
}



.auth-nav__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--accent-color);
}
}

