.auth-nav{
    display: flex;
    margin-left: auto;  


    @media screen and (max-width: 767px) {
        // display: flex; 
        padding-left: 40px;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 768px) {
        display: block; 
        padding: 16px 0;
    }

    @media screen and (min-width: 1200px) {
        display: flex; 
        align-items: center;
        justify-content: flex-end;
    }
}

.auth-nav__item{
    @media screen and (max-width: 767px) {
        font-size: 24px;
    }
}
.auth-nav__item:not(:last-child){
    margin-right: 50px;
}
        
    




.auth-nav__link{
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        font-size: 28px; 
    }
}
.auth-nav-social{
    display: flex;
    flex-wrap: wrap;
    padding-left: 40px;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

   
.auth-nav-social__link{
    font-size: 18px;
    color: var(--accent-color);
    position: relative;


    &::after{
        content: "Ð†";
        top: -3px;
        margin-left: 10px;
        margin-right: 10px;
        color: rgba(33, 33, 33, 0.2);
    }

      
}

.auth-nav-lists{
    @media  screen and (max-width: 767px) {
        position: absolute;
        bottom: 0;
    }
}
