.card-set{
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        margin-right: -30px;
        margin-bottom: -30px;
    }    
}

.card-set__item{
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    // &:nth-child(3n){
    // margin-right: 0;
    // }

    // .card-set__item:nth-last-child(-n+3){
    // margin-bottom: 0;
    // }

    &:hover .product,
    &:focus .product{
    transform: translateY(0);
    }
    
    @media screen and (min-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 2) /2);
        width: 100%; 
        margin-right: 30px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 3) /3);
        width: 100%;
        margin-right: 30px;
        margin-bottom: 30px;

        &:nth-child(3n){
            margin-right: 0;
            }

         &:nth-last-child(-n+3){
            margin-bottom: 0;
            }
    }
}



.card-set__thumb{
    position: relative;
    overflow: hidden;
    margin: 0;

}