.check{
    padding-left: 20px;
}

.check__input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position:absolute;
}

.check__box{
    position: absolute;
    margin-left: -20px;
    width: 16px;
    height: 15px;
    background-image: url(../images/vector.svg);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 480px) {
        top: 480px;  
    }

    @media screen and (min-width: 767px) and (max-width: 1199px){
        top: 480px;  
    }

    @media screen and (min-width: 1200px) {
        top: 419px;
    }
}

.check__input:checked + .check__box{

    background-image: url(../images/icon-check.svg);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-form{
    position: relative;
    left: 25%;
    margin-top: 30px;
    
}