.footer-form{
    display: block;
    margin-left: 93px;

    @media screen and (max-width: 480px) {
        margin-left: 0;
        text-align: end;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}

.form{
    display: flex;

    @media screen and (max-width: 480px) {
        display: block;
        text-align: center;
    }

    @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
    }
}
.form__field{
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (max-width: 480px) {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}


.form__button{
    position: relative;
    width: 200px;
    /* text-align: center; */
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon{
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
}