.login__button{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    color: var(--accent-color);
    }
}

