.main-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: 767px) {
        height: 60px;
    }

    @media screen and (min-width: 768px) {
        height: 80px;
    }
    
}

.site-menu {
    display: flex;
    align-items: center;
    width: 100%;
}
