.section-team__title{
    font-weight: bold;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;  

    @media screen and (max-width: 1199px) {
        font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 36px;
    }
}

.section-team__card{
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;

    text-align: center;   
}

.section-team__item{
    text-align: center;
    background-color: white;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    &:last-child{
        margin-right: 0;
    }

    @media screen and (max-width: 768px) {
        flex-basis: calc((100% - 30px * 1) /1);
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 30px * 2) /2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * 4) /4);
    }
}



.section-team__card > .section-team__item{
    margin-right: 30px;
    

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 94px;
    }
}