.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px) {
        font-size: 40px; 
        padding-top: 16px;
        padding-bottom: 16px;
        
    }
    
}

.site-nav{
    

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &__item:not(:last-child){
        margin-right: 50px;
    }
    
    & .link:hover,
    & .link:focus{
        color: var(--accent-color);
    }

    & .link.current{
        color: var(--accent-color);
    }

    @media screen and (max-width: 767px) {
        display: block; 
        padding-top: 48px;
        padding-left: 40px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 88px;
        margin-right: 84px;
    }


    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 93px;
    }
}

.site-nav__link{
    position: relative;

    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

}

.menu-button{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 15px;
    display: inline-flex;
    margin: 0;
    border: none;
    background-color: transparent;
    z-index: 4;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button .icon-cross{
    display: none;
}

.menu-button.is-open .icon-cross{
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu{
    fill: var(--accent-color);
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross{
    fill: var(--accent-color);
}

.menu-container{
    
    background-color: var(--primary-bg-color);
    // padding: 40px 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: var(--title-text-color);

    &.is-open {
        display: block;
        height: 100vh;
        z-index: 2;
    }

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;
        font-size: 40px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        height: 80px;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
    }
}

