.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background: #2F303A;
    text-align: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) 40%), url(../images/hero.jpg);
    background-size:cover;

    @media screen and (max-width: 767px) {
        padding-top: 118px;
        padding-bottom: 118px;
        padding-left: 60px;
        padding-right: 60px;
    }

    @media screen and (min-width: 768px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        
    }
    
}

.hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__title{
    
    margin-top: 0px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto; 

    font-family: Roboto;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF; 
    
    @media screen and (max-width: 1199px) {
        font-size: 26px;
        max-width: 360px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        max-width: 696px;
    }
}